_ide_helper_models.php
_ide_helper.php
.coverage
.env
.env.dusk.local
.idea/
.php-cs-fixer.cache
.phpstorm.meta.php
.phpunit.result.cache
*.sqlite
**/.DS_Store
/node_modules
/public/hot
/storage/*.key
/vendor
coverage.xml
database/*.sqlite
error_log
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
yarn-error.log
auth.json
